*{
    padding: 0;
    margin:0;
}

html, body{
    height:100%;
    width:100%;
}

body{
    background-color: #101010;;
}

.main{
    text-align: center;
}

h1{
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    margin-top: 50px;
}

input{
    margin-top: 20px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

button{
    cursor: pointer;
    margin-top: 20px;
    width: 90px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#btn2{
    width: 150px;
}